<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bill Form</title>
</head>
<body>
    <h2>The Bill Form</h2>
    <p>Fill the form and click the button to get the results</p>

    <form action="/result" method="post">
        <hr>
        <p>Bill Details</p>
        {{bill_form.amount.label}} {{bill_form.amount}} 
        <br> 
        {{bill_form.period_name.label}} {{bill_form.period_name}}
        <br>
        {{bill_form.days.label}} {{bill_form.days}}
        <hr>
        <p>First Flatmate</p>
        {{bill_form.name1.label}} {{bill_form.name1}}
        <br>
        {{bill_form.days_in_house1.label}} {{bill_form.days_in_house1}}
        <hr>
        <p>Second Flatmate</p>
        {{bill_form.name2.label}} {{bill_form.name2}}
        <br>
        {{bill_form.days_in_house2.label}} {{bill_form.days_in_house2}}
        <br>
        <p>Bill Name</p>
        {{bill_form.file_name.label}} {{bill_form.file_name}}
        <hr>
        {{bill_form.button}}    
    </form>
</body>
</html>